.home-content {
  min-height: 100vh;
  max-height: 100vh;
  padding: 5rem 6rem 2rem;
  overflow: hidden;
  // background: #e0e0e0;
}

.dashboard-header {
  padding: 0rem;
}

.job-list-container {
  max-height: 85vh;

  ul {
    max-height: 60vh;
    overflow-y: auto;
  }
}

.dashboard-title {
  margin: 0;
  font-size: 1.5rem;
  font-weight: 600;
  color: #161616;
}

.dashboard-subtitle {
  font-size: 0.875rem;
  color: #525252;
  margin-top: 0.25rem;
}

.job-manual-toast {
  position: fixed;
  top: 1rem;
  right: 0rem;
  z-index: 9999;
}
